.script-bf-box {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  background: gold;
  box-shadow: 0px 0px 20px 1px rgba(242, 239, 53, 1);
  margin: 5px;
  will-change: transform;
}

.star-box {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 1300px) {
  .animated-bc {
    display: none;
  }
}
