.contact{
    background-color: #233143 !important;
    min-height: 100vh !important;

    .contact-title {
        width: 500px;
        margin: 20px 0px 30px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    
    .contact-text{
        margin-left: 40px;

        .contact-item {
            margin: 25px 0px;
            font-size: 18px;
            color: white;
            i {
                padding-right: 10px;
            }
        }
    }

}

@media (max-width: 400px) {
    .contact {
        .contact-title {
            width: 90%;
        }
        .contact-item {
            font-size: 15px;
        }
    }
  }
  
