
.cover {
  background: rgb(105, 183, 255);
  background: linear-gradient(
    90deg,
    rgba(105, 183, 255, 1) 0%,
    rgba(51, 156, 255, 1) 20%,
    rgba(0, 63, 120, 1) 50%,
    rgba(9, 0, 64, 1) 90%
  );
  position: relative;
  animation: background 20s infinite alternate;
}
@keyframes background {
  0% {
    background: linear-gradient(
      90deg,
      rgba(105, 183, 255, 1) 0%,
      rgba(51, 156, 255, 1) 20%,
      rgba(0, 63, 120, 1) 50%,
      rgba(9, 0, 64, 1) 90%
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      rgba(105, 183, 255, 1) 0%,
      rgba(51, 156, 255, 1) 20%,
      rgba(0, 63, 120, 1) 50%,
      rgba(9, 0, 64, 1) 90%
    );
    box-shadow: 0px 0px 100px -200px #c2e1ff inset,
      0px 0px 100px -100px #339cff inset,
      0px 0px 100px -100px #005FB8 inset,
       0px 0px 100px -100px #003f78 inset,
      -500px 0px 100px -100px #090040 inset;
  }
  50% {
    box-shadow: -200px 0px 100px -200px #c2e1ff inset,
      0px 0px 100px -100px #339cff inset, 
      0px 0px 100px -100px #005FB8 inset,
      0px 0px 100px -100px #003f78 inset,
      -1600px 0px 100px -100px #090040 inset;
  }
  60% {
    box-shadow: -300px 0px 100px -200px #c2e1ff inset,
      -400px 0px 100px -100px #339cff inset,     
      -400px 0px 100px -100px #005FB8 inset,
      -500px 0px 100px -100px #003f78 inset,
      -1600px 0px 100px -100px #090040 inset;
  }
  75% {
    box-shadow: -300px 0px 100px -200px #c2e1ff inset,
      -500px 0px 100px -100px #339cff inset,     
      -600px 0px 100px -100px #005FB8 inset,
      -800px 0px 100px -100px #003f78 inset,
      -1600px 0px 100px -100px #090040 inset;
  }
  100% {
    box-shadow: -300px 0px 100px -200px #c2e1ff inset,
      -500px 0px 100px -100px #339cff inset,     
      -650px 0px 100px -100px #005FB8 inset,
      -800px 0px 100px -100px #003f78 inset,
      -1600px 0px 100px -100px #090040 inset;
  }
}

.wrapper {
  min-height: 100vh;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.welcome-title > h1 {
  font-family: "Shadows Into Light", cursive;
  color: white;
  font-size: 72px;
  margin-top: 65px;
  text-align: center;
}

.welcome-bio {
  margin-top: 80px;
  color: white;
  text-align: center;

  > h2 {
    font-size: 20px;
  }
}
